<!-- {% extends 'base.html' %}

{%block title %}Update user{% endblock %}

{%block customCSS %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}

{% block body %}


<div class="content">
   
    <h1 style="text-align: center;">UPDATE USER</h1>
    <form action="/update/{{usuarios.id}}" method="POST">
        <input type="text" name="Nombre" id="Nombre" value="{{usuarios.nombre}}">
        <input type="submit" value="Actualizar Nombre">
    </form>
</div>
{% endblock %} -->
